.home-form {
    background : #ffffffff;
    margin: 3%;
    min-height: 85%;
    height: 85%;
}


.li-header {
    border-bottom: 1px solid black;
    font-weight: bold;
}


.line {
    border-top: 1px solid #990000;
}

.left {
    border-right: 1px solid #990000;
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #990000;
    opacity: 0.9;
    color: white;
  }

.my-div {
  max-height: 100%;
}